

#application-list-wrapper {
    /*overflow-y: auto;*/
    /*height: 25em;*/
}

#application-header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;


}


#application-search-form input {
    text-align: center;
    outline: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#application-search-form button {
    outline: none;
    margin: 0;
    width: 25%;
    background-color: #05167d;
    border: 1px solid white;

}

#application-search-form button:hover {
    background-color: #2538a0;
    transition: .5s;
    color: white;
}