.content-wrapper#application {
    display: flex;

}

#application-list-wrapper {
    flex: 1;
    overflow-y: auto;
    height: 25em;
}

#application-header-wrapper {
    flex: 1 1;
}

#application-form-wrapper {
    flex: 2;
}

#application-search-form input {
    text-align: center;
    outline: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#application-search-form button {
    outline: none;
    margin: 0;
    width: 100%;
}

#application-search-form button:hover {
    background-color: #266e6e;
    transition: .5s;
    color: white;
}