input {
    color: black;
    outline: none;
    margin: 2px;
    padding: 1em;
}

#tech-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doc-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*width: 100%;*/
}

.doc-link {
    margin: 4px;
    padding: 1em;
    background-color: #18518d;
    text-align: center;
    color: white;
    user-select: none;
}

.doc-link:hover {
    background-color: #05167d;
    transition: .5s;
}