h3 {
    padding: 1em;
    background-color: #303432;
    color: white;
}

p {
    padding: 1em;
}

button {
    width: 100px;
    height: 50px;
    margin: 1em;
}

.template-wrapper {
    background-color: white;
}

.content-wrapper#cover-letter-generator{
    display: flex;
    flex-direction: row;
}

.template-sub-wrapper {
    flex: 1;
}

#cover-letter-content {
    flex: 4;
}