h3 {
    padding: 1em;
    background-color: #303432;
    color: white;
}

p {
    padding: 1em;
}

button {
    margin: 1em;
    outline: none;
    padding: 1em;
}

.template-wrapper {
    background-color: white;
}

.content-wrapper#cover-letter-generator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

}

.template-sub-wrapper {
    background-color: black;
    height: 100%;
    flex: 1;
}

#cover-letter-content {
    flex: 4;
    font-size: 12pt;
}

#letter-text {
    padding: 1em;
}