#header {
    color: white;
    font-size: 50px;
    background: rgb(147,147,147);
    background: linear-gradient(90deg, rgba(147,147,147,1) 0%, rgba(0,0,0,1) 99%);
    text-align: center;

}

#company-name-header {
    background-color: #266e6e;
    text-align: center;
    color: white;
}