
#menu-wrapper {
    background-color: black;
    color: white;
    flex: 1;
    height: 100%;
    overflow: hidden;
    min-width: 300px;
}

.menu-item {
    user-select: none;
    padding: 1em;
}

.menu-item:hover {
    background-color: darkcyan;
    transition: .5s;
}

.menu-item-selected {
    user-select: none;
    padding: 1em;
    background-color: #225d5d;
    transition: .5s;
}